
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/css/indexoriginal.css">
    <title>Document</title>
 </head>
 <body>  

    <h1>Welcome to NLP based data migration.</h1>
    <h2>Extract Load Phase</h2>
    <h3>Please select the connector for extraction of specific Data type.</h3>
    
    <section class="main">
    <a href="./mysqltomongo.html">
      <div class="wrap wrap--1">
        <div class="container container--1">
          <p>SQL based MySQL</p>
        </div>
      </div>
    </a>
    
    <a href="./mongotomongo.html">
      <div class="wrap wrap--2">
        <div class="container container--2">
          <p>NoSQL based MongoDB</p>
        </div>
      </div>
    </a>
    <a href="./csv.html">
      <div class="wrap wrap--3">
        <div class="container container--3">
          <p >CSV</p>
        </div>
      </div>
    </a>
    
    </section>
    <h2>Transform Phase</h2>
    <h3>The current raw data is stored at ____ database and with ____ attributes.</h3>
    <section class="main">
      
      
      </section>
   </body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
<script src="./src/js/indexoriginal.js"></script>
</html>